@font-face{
    src: url(fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-Medium;
}
@font-face{
    src: url(fonts/Montserrat-Light.ttf);
    font-family: Montserrat-light;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat-light;
    background-color: gainsboro;
    line-height: 1.5rem;
    
}
.main-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 6px outset gray;
    align-items: center;
    margin-bottom: 2rem;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    line-height: 1.25;
    
}
.navbar a{
    font-family: Montserrat-Medium;
    text-shadow: 10px #4b2e83;
    color: black;
    text-decoration: none;
    padding: 21px;
    display: flex;
    text-align: center;
    

}
.navbar a:hover{
    color: white;
    text-shadow: 1px 1px #4b2e83;
    background-color: #4b2e83;
}
.navbar li{
    float: left;
}
.page-header{
    text-decoration: none;
    color: #4b2e83;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-Medium;
    margin: 4px;
    font-size: 3rem;
}
.page-header a{
    text-decoration: none;
}
.main-container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}
.title{
    margin-top: 10px;
    margin-bottom: 10px; 
}
.instructor1 img, .instructor2 img, .instructor3 img{
    width: 20rem;
    
}
.main-container .instructor {
    display: flex;
    align-items: center;

}
.in-container1 div{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    padding: 2rem;
}
.in-container1 .instructor2{
    border-left: solid black;
    border-right: solid black;
}
.footer-container div{
    padding: 1rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: baseline;
}
.footer-title{
    border-top: solid black;
}
.footer-links a{
    text-decoration: none;
    font-size: 1.5rem;
}.footer-links a:hover{
    color:hsl(0, 0%, 40%)
}
.links a{
    color: black;
    text-decoration: none;
}
.links a:hover{
    color: hsl(0, 0%, 40%);
}
.int-title a{
    text-decoration: none;
    color: #4b2e83;
}
.title a:hover{
    color: hsl(0, 0, 50%);
}
.UWschedule img{
    width: 55%;
}
.UWschedule{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.schedule-title, .int-title{
    text-align: center;
}
